.project-cols {
  border: 1px solid black;
  border-radius: 3px;
  height: 5em;
  width: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgb(69, 68, 68);
}

.heading3 {
  font-weight: bold;
  text-align: center;
}

.links {
  color: white;
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
}