.homepage {
    padding: 0 !important;
    min-height: 100vh;
    overflow: hidden;
}

.homepage.lightmode {
    background-color: rgb(182, 178, 178);
}

.navBar.lightmode {
    color: #000;
    background-color: rgba(65, 66, 66, 0.6);
}


.modeToggle.lightmode {
    color: inherit;
}

.modeToggle.lightmode:hover:before {
    content: attr(data-name);
    position: absolute;
    bottom: -2em;
    right: .6em;
    background-color: #626264;
    color: white;
    padding: .1rem .3rem;
    display: inline-block;
    font-size: .9rem;
    border-radius: .3125rem;

}

.modeToggle.lightmode:hover {
    background-color: #3b3b3c;
    color: white
}

.toggleBurger.lightmode {
    color: inherit;
}

.toggleBurger.lightmode:hover {
    color: white;
    background-color: #3b3b3c;
}

@media (max-width:768px) {

    .togglebtn-lightmode,
    .canceltogglebtn-lightmode,
    .navBar.lightmode section a:first-of-type {
        display: inline-block;
    }

    .togglebtn.lightmode {
        color: black;
    }

    .togglebtn.lightmode:hover {
        background-color: #3b3b3c;
    }

    .dropdown.lightmode {
        background-color: rgba(38, 39, 39, 0.9);
    }

    .dropdown.lightmode {
        top: 0;
    }

    .dropdown.lightmode a:hover {
        text-decoration: underline;
        background-color: rgba(233, 238, 243, 0.1);
    }

    .dropdown-lightmode button {
        align-self: flex-end;
        background-color: transparent;
        border: none;
        border-radius: .4em;
        padding: .2rem;
        color: white;
        margin: 0 2rem;
        font-size: 1.2rem;
        transition: background-color ease-in-out 0.2s;
    }

    .dropdown-lightmode button:hover {
        background-color: rgba(248, 246, 249, 0.2);
    }

    .span-links {
        display: none;
    }

}

img {
    width: 100%;
    height: 100%;
    border-radius: 3%;
}

.projects-section-lightmode {
    text-align: center;
    padding: 2em 0;
}

.about-section.lightmode h2,
.projects-section-lightmode h2 {
    font-size: 4rem;
    font-weight: 500;
    color: black;
    padding: 0 .23em;
}

.about-section.lightmode p,
.projects-section-lightmode p {
    font-size: 1.3rem;
    font-weight: lighter;
    color: rgb(35, 34, 34);
    padding: 0 .7em;
}

.about-section.lightmode>div:last-of-type {
    width: 40%;
    margin: 0 .3rem;
    color: white;
}



@media (max-width:992px) {
    .about-section.lightmode {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
    }

    .about-section.lightmode div:first-of-type {
        width: 30%;
        height: 12rem;
    }

    .about-section.lightmode div:last-of-type {
        text-align: center;
        width: 80%;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 3%;
    }

}


.selfIntro-lightmode-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.selfIntro-lightmode-section div:first-of-type {
    height: 1rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(134, 131, 131);
    border-top-right-radius: .8rem;
    border-top-left-radius: .8rem;
    padding: .9rem;
}

.selfIntro-lightmode-section div:last-of-type {
    height: 37rem;
    width: 70%;
    background-color: rgba(71, 69, 69, 0.7);
    padding: .7rem .9em;
    font-size: 1.17rem;
    border-radius: .8rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    overflow: hidden;
}

.selfIntro-lightmode-section div span:nth-of-type(2) {
    color: black;
    font-weight: bolder;
}

.normal-lightmode {
    color: rgb(27, 25, 25);
    font-weight: bold;
}


.description-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.radioone {
    color: rgb(248, 106, 106);
    background-color: rgb(248, 106, 106);
    border-radius: 50%;
    margin: 0 .2em;
}

.radiotwo {
    color: orange;
    background-color: orange;
    border-radius: 50%;
    margin: 0 .2em;
}

.radiothree {
    color: green;
    background-color: green;
    border-radius: 50%;
    margin: 0 .2em;
}

.projects-description.lightmode {
    background-color: white;
}

.description.lightmode:nth-of-type(2n) {
    background: linear-gradient(45deg, #548a98, #19262c, #627484);
}

.description.lightmode:nth-of-type(2n-1) {
    background: linear-gradient(45deg, #627484, #19262c, #548a98);
}

@media (max-width: 992px) {

    .selfIntro-lightmode-section {
        padding: .3rem 0;
    }

    .selfIntro-lightmode-section div:first-of-type {
        display: flex;
        align-items: center;
    }

    .selfIntro-lightmode-section div:last-of-type {
        height: 40rem;
        width: 70%;
        padding: .7rem .9em;
        color: white;
        font-size: 1.17rem;
        border-radius: .8rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .description-lightmode:first-of-type {
        margin-top: 2rem;
        margin-bottom: 9rem
    }

    .description-lightmode {
        transform: translateX(0);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin: 9rem 0;
        width: 90%;
        padding: 4em 3em;
    }

    .description-lightmode:last-of-type {
        margin-bottom: 18rem;
    }

    .projects-background-lightmode {
        width: 100%;
    }

    .description-lightmode:nth-of-type(2n-1) {
        background: linear-gradient(45deg, #627484, #19262c, #548a98);
    }

    .description-lightmode:nth-of-type(2n) {
        background: linear-gradient(45deg, #548a98, #19262c, #627484);
    }

    .projects-description.lightmode {
        border-bottom-left-radius: 0.7rem;
        border-bottom-right-radius: 0.7rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        position: absolute;
        bottom: -13em;
        left: 0;
        width: 100%;
    }

}

.projects-description.lightmode p {
    color: black;
    font-weight: light;
    padding: .3em 0;
    font-size: 95%;
}

.projects-description.lightmode h4 {
    display: inline;
    font-weight: bold;
    color: black;
}

.projects-description.lightmode:hover {
    background-color: rgba(255, 255, 255, .8);
}

.project-link {
    font-size: 1.3rem;
    color: #6da3b1;
    transition: color ease-in-out 200ms;
}

.projects-description:hover .project-link {
    color: rgba(109, 163, 177, .9);
}

.projects-description.lightmode div:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
}

.projects-description.lightmode div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.projects-description.lightmode span {
    border-radius: .4rem;
    padding: .2em .5em;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 .1em;
}

/* .projects-description.lightmode span:nth-of-type(1) {
    background-color: #E44D26;
}

.projects-description.lightmode span:nth-of-type(2) {
    background-color: #2965f1;
}

.projects-description.lightmode span:nth-of-type(3) {
    background-color: #f0db4f;
} */


@media(min-width: 768px) {

    .repo-section-lightmode a {
        background-color: white;
        border: 1px solid rgba(44, 43, 43, 0.6);
        color: black;
        margin: 1.5rem;
        padding: 1.3rem;
        width: 40%;
        border-radius: .5rem;
        transition: all ease-in-out .2s;
        text-decoration: none;
    }

    .footer-lightmodesection {
        margin: 0% !important;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(26, 27, 27);
        padding: 1em;
        align-items: center;
        color: rgba(255, 255, 255, 0.7);
    }

    .footer-lightmodesection div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .footer-lightmodesection div a {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        padding: .2rem;
        margin: 0 .6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-lightmodesection div:last-child .lightmode-link {
        color: #212121;
    }

    .footer-lightmodesection div:last-child a:hover::before {
        content: attr(data-name);
        position: absolute;
        top: -20px;
        background-color: #414143;
        color: #fff;
        border-radius: .3125rem;
        display: inline-block;
        font-size: .9rem;
        padding: .08rem .3rem;
    }

}

@media(max-width: 768px) {

    .selfIntro-lightmode-section {
        display: none;
    }

    .repo-section-lightmode {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 2.5rem 0;
    }

    .repo-section-lightmode a {
        background-color: rgb(3, 15, 28);
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: white;
        margin: 1.5rem;
        padding: 1.3rem;
        width: 90%;
        border-radius: .5rem;
        transition: all ease-in-out .2s;
        text-decoration: none;
        text-align: center;
    }

    .footer-lightmodesection {
        margin: 0% !important;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(26, 27, 27);
        padding: 1em;
        align-items: center;
        color: rgba(255, 255, 255, 0.7);
    }

    .footer-lightmodesection div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: .3rem;
    }

    .footer-lightmodesection div a {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        padding: .2rem;
        margin: 0 .6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-lightmodesection div:last-child .lightmode-link {
        color: #212121;
    }

    .footer-lightmodesection div:last-child a:hover::before {
        content: attr(data-name);
        position: absolute;
        top: -20px;
        background-color: #626264;
        color: #fff;
        border-radius: .3125rem;
        font-size: .9rem;
        padding: .08rem .3rem;
    }

}

.repo-section-lightmode {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.repo-section-lightmode a:hover {
    transform: translateY(-5px);
    box-shadow: 0px 1px 3px -1px rgb(24, 24, 24);
}

.repo-section-lightmode a span:first-of-type {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
}